
<div class="container mt-3" ng-controller="searchCtrl">
    <h1>Search BY STD_ROllNO</h1>

    <div class="my-5">
        <label for="SID">Std ROllNO:</label>
        <input type="text" id="SID" ng-model="SID">
    </div>

    <table class="table table-collapse mt-5">
        <thead>
            <tr>
                <th>Rollno</th>
                <th>Name</th>
                <th>Class</th>
                <th>Event</th>
                <th>team</th>
            </tr>
        </thead>
        <tbody ng-repeat="stu in students | filter: s_regno">
            <tr>
                <th>{{stu.s_regno}}</th>
                <th>{{stu.s_name}}</th>
                <th>{{stu.s_class}}</th>
                <th>{{stu.s_event}}</th>
                <th>{{stu.s_team}}</th>
                <th><span class="material-icons">edit</span></th>
                <th><span class="material-icons" onclick="delStudent(stu.stu_id)">delete</span></th>
            </tr>
        </tbody>
    </table>
</div>